html, body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 100%;
  margin: 0px;
}

.page {
  max-width: 1000px;
  /* min-height: 100%; */
  margin: auto;
  padding: 15px;
  padding-top: 0px;
}

.error {
  margin: auto;
  max-width: 200px;
  padding: 15px;
  background: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aleo', serif;
}

h1, h2, h3, h4 {
  color: #006064;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #dee4eb;
  font-weight: bold;
}

h5, h6 {
  margin: 0px;
  font-size: 15px;
}

h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.03);
  border: 2px solid #dee4eb;
  margin: 10px;
}

th {
  border-bottom: 2px solid #dee4eb;
}

th, td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}

.link, a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.link:hover, a:hover {
  text-decoration: underline;
}

.link:visited, a:visited  {
  color: inherit;
}

hr {
  height: 2px;
  width: 100%;
  border: none;
  background: #dee4eb;
}

blockquote {
  background: rgba(0, 0, 0, 0.06);
  border-left: 6px solid #428e92;
  margin: 0px;
  padding: 1px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
}

