#topBar {
  background: #f2f2f2;
  position: fixed !important;
  top: 0;
  width: 150vw;
  margin-left: -25vw;
  padding-left: 25vw;
  padding-top: 10;
  padding-bottom: 10;
  /* color: white; */
  float: center;
  border-bottom: 2px solid #dee4eb;
  z-index: 100;
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Aleo';
  font-size: 1.2em;
  font-weight: bold;
}

#topBar span, #topBar a {
  color: #006064;
}

.row {
  display: flex;
  flex-direction: row;
}

.tableContainer {
  margin: 1em;
  max-width: 100%;
  overflow-x: auto;
}

/* .section {
  column-count: 2;
}

ul > li {
  display: inline-block;
  width: 100%;
} */
