.sourceEntry {
  padding: 1em;
  margin: auto;
  float: center;
}

.textInput {
  width: 200px;
  margin-bottom: 1em;
}

.button {
  width: 200px;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #dee4eb;
  padding: 5px;
}

button {
  border: 2px solid #dee4eb;
  background: #f2f2f2;
  color: #006064;
  padding: 5px;
}

button:hover {
  background: #d4dae0;
}

button:active {
  background: #d4dae0;
}

input[type=text]:focus, button:focus {
  border-color: #006064;
  outline: none;
}